{
    "presets": [
        [
            // 指定node环境
            "@babel/preset-env",
            {
                "targets": {
                    "node": "10"
                }
            }
        ]
    ]
}
